@model DojoLeague.Models.Ninja
<table>
	<tr>
		<th>Ninja</th>
		<th>Action</th>
	</tr>
	@{
		foreach (Ninja ninja in ViewBag.DojoNinjas)
		{
			<tr>
				<td>@ninja.Name</td>
				<td><a href="/Dojos/@ninja.Dojo.Id/Banish/@ninja.Id">Recruit!</a></td>
			</tr>
		}
	}
</table>