body {
	background-color: lightslategray;
}

label {
	width: 150px;
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
	text-align: right;
	margin-right: 10px;
}

input[type="text"], textarea {
	width: 200px;
}

input[type="submit"] {
	margin: 5px 0px;

}

.wrapper {
	background-color: white;
	padding: 50px;
	margin: 50px auto;
	width: 50%;
}

.input_field {
	padding: 5px;
}

textarea {
	height: 100px;
}

span {
	display: block;
	color: red;
	font-style: italic;
}