@{
    ViewData["Title"] = "Ninjas";
}
@model DojoLeague.Models.Ninja
<div class="wrapper">
	<div class="half_screen">
		<h1>Registered Ninjas</h1>
		<table>
			<tr>
				<th>Ninja Name</th>
				<th>Home Dojo</th>
			</tr>
			@{
				if (ViewBag.Ninjas != null)
				{
					foreach (Ninja ninja in ViewBag.Ninjas)
					{
						<tr>
							<td><a href="Ninjas/@ninja.Id">@ninja.Name</a></td>
							<td><a href="Dojos/@ninja.Id">TITLE MISSING</a></td>
						</tr>
					}
				}
			}
		</table>
	</div>
	<div class="half_screen">
		<h1>Register A Ninja</h1>
		<form asp-controller="Ninja" asp-action="Ninjas/Add" method="post">
			<div class="input_field">
				<span class="validation_error" asp-validation-for="Name"></span>
				<label asp-for="Name"></label>
				<input type="text" asp-for="Name" />
			</div>
			<div class="input_field">
				<span class="validation_error" asp-validation-for="Level"></span>
				<label asp-for="Level"></label>
				<input type="int" asp-for="Level" />
			</div>
			<div class="input_field">
				<label for="Dojo_Id"></label>
				<select name="Dojo_Id">
					<option value="">Rogue</option>
					@{
						foreach (Dojo dojo in ViewBag.Dojos)
						{
							<option value="@dojo.Id">@dojo.Name</option>
						}
					}
				</select>
			</div>
			<div class="input_field">
				<span class="validation_error" asp-validation-for="Description"></span>
				<label asp-for="Description"></label>
				<textarea asp-for="Description"></textarea>
			</div>
			<div class="submit_field">
				<input type="submit" value="Add" />
			</div>
		</form>
	</div>
</div>