@{
    ViewData["Title"] = "Ninja";
}
@model DojoLeague.Models.Ninja
<div class="wrapper">
	<div class="half_screen">
		@{
			if (ViewBag.Ninja != null)
			{
				<h1>Name: @ViewBag.Ninja.Name</h1>
				<p>Ninja Level: @ViewBag.Ninja.Level</p>
				<p>Description: @ViewBag.Ninja.Description</p>
				<p>Current Dojo: <a href="/Dojos/@ViewBag.Ninja.Dojo.Id">@ViewBag.Ninja.Dojo.Name</a></p>
			}
		}
	</div>
</div>