@{
    ViewData["Title"] = "Home Page";
}
@model lost_in_the_woods.Models.Trail
<h1>Lost in the woods</h1>
<h2>List of local hiking trails</h2>
<table>
    <tr>
        <th>Trail Name</th>
        <th>Trail Length</th>
        <th>Elevation Change</th>
    </tr>
@{
    foreach (Trail trail in ViewBag.Trails)
    {
        <tr>
            <td><a href="trails/@trail.Id">@trail.Name</a></td>
            <td>@trail.Trail_Length</td>
            <td>@trail.Elevation_Change</td>
        </tr>
    }
}
</table>
<div><a href="NewTrail"><button id="new_trail_button">Add a new trail</button></a></div>