@{
    ViewData["Title"] = "Lost in the Woods";
}
@model lost_in_the_woods.Models.Trail
<h1>New Trail</h1>
<h2><a href="/">Go Home</a></h2>
<form asp-controller="Trail" asp-action="AddTrail" method="post">
	<div class="input_field">
		<span asp-validation-for="Name"></span>
		<label asp-for="Name"></label>
		<input type="text" asp-for="Name" />
	</div>
	<div class="input_field">
		<span asp-validation-for="Description"></span>
		<label asp-for="Description"></label>
		<textarea asp-for="Description"></textarea>
	</div>
	<div class="input_field">
		<span asp-validation-for="Trail_Length"></span>
		<label asp-for="Trail_Length"></label>
		<input type="float" asp-for="Trail_Length" />
	</div>
	<div class="input_field">
		<span asp-validation-for="Elevation_Change"></span>
		<label asp-for="Elevation_Change"></label>
		<input type="number" asp-for="Elevation_Change" />
	</div>
	<div class="input_field">
		<span asp-validation-for="Latitude"></span>
		<label asp-for="Latitude"></label>
		<input type="float" asp-for="Latitude" />
	</div>
	<div class="input_field">
		<span asp-validation-for="Longitude"></span>
		<label asp-for="Longitude"></label>
		<input type="float" asp-for="Longitude" />
	</div>
	<input type="submit" value="Create Record!" />
</form>