<html>
	<head>
		<meta charset="utf-8">
		<title>Darby Vranek</title>
		<link rel="stylesheet" href="~/css/style.css"/>
	</head>
	<body>
		<div class='wrapper'>
			<div class="nav">
				<h3>Main || <a href="/projects">Projects</a> || <a href="/contact">Contact</a></h3>
			</div>
			<h1>Darby Vranek</h1>
			<img id="photo" src="~/imgs/me.png"/>
			<p>
				I'm a software developer with experience working with web frameworks like Django and ASP.NET, as well as with game engines like Unity. I live in Los Angeles with my three parrots.
			</p>
		</div>
	</body>
</html>