<html>
	<head>
		<meta charset="utf-8" />
		<title>Darby Vranek - Projects</title>
		<link rel="stylesheet" href="~/css/style.css" />
	</head>
	<body>
		<div class="wrapper">
			<div class="nav">
				<h3><a href="/">Main</a> || Projects || <a href="/contact">Contact</a></h3>
			</div>
			<h1>Projects</h1>
			<div class="project">
				<h2>Map Builder</h2>
				<img src="~/imgs/project1.png" />
				<p>This project creates procedural maps of specific dimensions, with an option to add custom tilesets for variety. This technique is often used to build dungeon maps for roguelike games.</p>
			</div>
			<div class="project">
				<h2>Pokemon Trainer Display</h2>
				<img src="~/imgs/project2.png" />
				<p>This project displays information about various NPCs from Pokémon ORAS.</p>
			</div>
			<div class="project">
				<h2>Oxygen Not Included Calculator</h2>
				<img src="~/imgs/project3.png" />
				<p>This is a tool used to calculate resource production and consumption for Klei's base-building game <i>Oxygen Not Included</i>.</p>
			</div>
		</div>
	</body>
</html>